{% extends 'main/base.html' %} {% block content %}

<div id="calendar"></div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $('#calendar').fullCalendar({
            header: {
                left: '',
                center: 'title',
                right: ''
            },
            defaultView: 'agendaWeek',
            height: 'auto',
            weekends: false,
            allDaySlot: false,
            slotDuration: '00:30:00',
            slotLabelInterval: '00:30:00',
            events: [
                {% for event in events %}
                {
                    title: '{{ event.title }}',
                    start: '{{ event.start }}',
                    end: '{{ event.end }}'
                },
                {% endfor %}
            ]
        });
    });
</script>
{% endblock %}