{% extends 'main/base.html' %} {% block content %}
  <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Teachers</h1>
          </div>
          <div class="col-sm-6">
            <a href="{% url 'CreateTeacher' %}" class="btn btn-primary">Add New Teacher</a>
          </div>
         
        </div>
      </div><!-- /.container-fluid -->
    </section>

 <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">List of  Teachers</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>Name</th>
                    <th>Sur Name</th>
                    <th>Date of Birth(s)</th>
                    <th>Street / NR</th>
                   
                  </tr>
                  </thead>
                  <tbody>
                    {% for d in data %}
                  <tr>
                    <td><a href="{% url 'UpdateTeacher' d.id %}" style="color:black"> {{d.name}} </a></td>
                    <td><a href="{% url 'UpdateTeacher' d.id %} "  style="color:black">{{d.surname}} </a>
                    </td>
                    <td><a href="{% url 'UpdateTeacher' d.id %}"  style="color:black"> {{d.birthdate}}</a></td>
                    <td> <a href="{% url 'UpdateTeacher' d.id %}"  style="color:black"> {{d.street_nr}}</a></td>
                
                  </tr>
                  {% endfor %}
                  
                </tbody>
                  <tfoot>
                   
                  <tr>
                   <th>Name</th>
                    <th>Sur Name</th>
                    <th>Date of Birth(s)</th>
                    <th>Street / NR</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

         
            <!-- /.card -->
          </div>


{% if Create %}
           <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add New Teacher</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form method="post">
                {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="text" name="name" class="form-control" id="exampleInputEmail1" placeholder="Enter Name">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Sur Name	</label>
                    <input type="text" name="surname" class="form-control" id="exampleInputEmail1" placeholder="Enter Sur Name	">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Date of Birth	</label>
                    <input type="Date" name="birthdate" class="form-control" id="exampleInputEmail1" placeholder="Enter Date of Birth">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1"> Street / NR</label>
                    <input type="text" name="street_nr" class="form-control" id="exampleInputEmail1" placeholder="Enter Street / NR	">
                  </div>
                
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <div class="row">
                        <div class="col-6">
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
                
                  <div class="col-6">
                </div>
            </div>
              </form>
            </div>
            <!-- /.card -->

         
            <!-- /.card -->

          </div>

          {% endif %}
{% if Update %}
           <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Update Student</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form method="post">
                {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="text" name="name" value="{{ student.name}}" class="form-control" id="exampleInputEmail1" placeholder="Enter Name">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Sur Name	</label>
                    <input type="text" name="surname" value="{{ student.surname}}" class="form-control" id="exampleInputEmail1" placeholder="Enter Sur Name	">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Date of Birth	</label>
                    <input type="Date" name="birthdate" value="{{ student.birthdate|date:"Y-m-d"}}" class="form-control" id="exampleInputEmail1" placeholder="Enter Date of Birth">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1"> Street / NR</label>
                    <input type="text" name="street_nr" value="{{ student.street_nr}}" class="form-control" id="exampleInputEmail1" placeholder="Enter Street / NR	">
                  </div>
                
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <div class="row">
                        <div class="col-6">
                  <button type="submit" class="btn btn-primary">Update</button>
                </div>
                
                  <div class="col-6">
                  <a href="{% url 'DeleteTeacher' student.id %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
              </form>
            </div>
            <!-- /.card -->

         
            <!-- /.card -->

          </div>

          {% endif %}
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
{% endblock content %}
