<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="/static/css/auth.css">
    <title>Login | MASM</title>
</head>

<body>
    <main class="main">
        <div class="container">
            <section class="wrapper">
                <div class="heading">
                    <h1 class="text text-large">Sign In</h1>
                    <p class="text text-normal">New user? <span><a href="/signup" class="text text-links">Create an
                                account</a></span>
                    </p>
                </div>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <form name="signin" class="form", method="POST">
                    {% csrf_token %}
                    <div class="input-control">
                        <label for="email" class="input-label" hidden>Email Address</label>
                        <input type="email" name="email" id="email" class="input-field" placeholder="Email Address", required>
                    </div>
                    <div class="input-control">
                        <label for="password" class="input-label" hidden>Password</label>
                        <input type="password" name="password" id="password" class="input-field" placeholder="Password", required>
                    </div>
                    <div class="input-control">
                        <a href="#" class="text text-links">Forgot Password</a>
                        <input type="submit" name="submit" class="input-submit" value="Sign In">
                    </div>
                </form>
            </section>
        </div>
    </main>
</body>

</html>