{% extends "base.html" %}

{% block body %}

{% if not update %}
<a type="button" class="btn btn-primary w-25" href="{% url 'add_record' record_type='students' %}">Add New</a>
<div class="col-12">
    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Birthdate</th>
                <th scope="col">Street/Nr</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td><a href="{% url 'update_records' record_type='students' id=student.id %}"> {{ student.name }}</a>
                    </th>
                <td>{{ student.surname }}</td>
                <td>{{ student.birthdate|date:" d-m-Y" }}</td>
                <td>{{ student.street_nr }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% else %}
<div class="col-12">
    <!-- general form elements -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title"> Update Student </h3>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="card-body">
                <div class="form-group">
                    <label for="email">Name</label>
                    <input type="text" name="name" value="{{ data.name}}" class="form-control" id="email"
                        placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="surname">Surname </label>
                    <input type="text" name="surname" value="{{ data.surname}}" class="form-control" id="surname"
                        placeholder="Enter surname">
                </div>
                <div class="form-group">
                    <label for="dob">Date of Birth </label>
                    <input type="date" name="birthdate" value="{{ data.birthdate|date:"Y-m-d" }}" class="form-control"
                        id="dob" placeholder="Enter date of birth">
                </div>
                <div class="form-group">
                    <label for="street_nr"> Street / NR</label>
                    <input type="text" name="street_nr" value="{{ data.street_nr}}" class="form-control" id="street_nr"
                        placeholder="Enter Street / NR	">
                </div>

            </div>

            <div class="card-footer">
                <div class="row">
                    <div class="col-1">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                    <div class="col-1">
                        <a href="{% url 'delete_record' record_type='students' id=data.id %}"
                            class="btn btn-danger">Delete</a>
                    </div>
                </div>
        </form>
    </div>
</div>

{% endif %}


{% endblock %}